{% extends "base.html" %}
{% load static %}

<!-- 
    By changing the block content and the content inside of the original content block we are able to manipulate the content in the allauth files 
    This means we don't have to manually edit each files extends tag. And can just insert it into the custom code already in place

-->

{% block content %}
    <div class="container header-container">
        <div class="overlay"></div>
            <div class="row">
                <div class="col-6">
                    <div class="allauth-form-inner-content">
                        {% block inner_content %}
                        {% endblock %}
                    </div>
                </div>
            </div>
    </div>
{% endblock %}